E-Commerce/.vs/
/E-Commerce/E-Commerce/bin/
/E-Commerce/E-Commerce/obj/
# Logs
front-end/e-commerce-front/logs
front-end/e-commerce-front/*.log
front-end/e-commerce-front/npm-debug.log*
front-end/e-commerce-front/yarn-debug.log*
front-end/e-commerce-front/yarn-error.log*
front-end/e-commerce-front/pnpm-debug.log*
front-end/e-commerce-front/lerna-debug.log*

front-end/e-commerce-front/node_modules
front-end/e-commerce-front/dist
front-end/e-commerce-front/dist-ssr
front-end/e-commerce-front/*.local

# Editor directories and files
front-end/e-commerce-front/.vscode/*
front-end/e-commerce-front/!.vscode/extensions.json
front-end/e-commerce-front/.idea
front-end/e-commerce-front/.DS_Store
front-end/e-commerce-front/*.suo
front-end/e-commerce-front/*.ntvs*
front-end/e-commerce-front/*.njsproj
front-end/e-commerce-front/*.sln
front-end/e-commerce-front/*.sw?

